{% extends "base.html" %}

{% block content %}

{% if errors%}
<div class=" alert alert-danger" role="alert">
    {% for error in errors%}
    <p>{{error}}</p>
    {% endfor %}
</div>
{% endif %}

{% if message %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endif %}

<div class="jumbotron">
    <div class="mx-auto">
        <h1 class="display-3">Foosion</h1>
        <p class="lead">Ruoka- ja kokkausaiheinen keskustelufoorumi</p>
        <hr class="my-4">
        <p>Käy löytämässä juuri sinun unelmareseptisi, tervetuloa!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{base_path}}/discussion" role="button">Foorumille &raquo;</a>
        </p>
    </div>
</div>
{% endblock %}