{% extends "base.html" %}

{% block content %}

<div class="jumbotron" id="title-jumbotron">
    <div class="mx-auto">
        <h1 class="display-4">Käyttäjänimi</h1>
        <p class="lead text-muted">
            <em>Tähän tulee käyttäjän henkilökohtainen fiilisviesti</em>
        </p>
    </div>
</div>
<hr class="my-4">
<ul class="list-group user-info">
    <li class="list-group-item">
        <strong class="mr-1">Etunimi:</strong>
        <span>etunimi</span>
    </li>
    <li class="list-group-item">
        <strong class="mr-1">Sukunimi:</strong>
        <span>sukunimi</span>
    </li>
    <li class="list-group-item">
        <strong class="mr-1">Sähköposti:</strong>
        <span>email.email@email.com</span>
    </li>
    <li class="list-group-item">
        <strong class="mr-1">Viestejä:</strong>
        <span>3</span>
    </li>
</ul>
<button type="button" class="btn btn-info">Muokkaa</button>
<button type="button" class="btn btn-danger">Poista</button>
{% endblock %}