{% extends "base.html" %}

{% block content %}

<div class="jumbotron" id="title-jumbotron">
    <div class="mx-auto">
        <h1 class="display-4">Keskustelut</h1>
        <p class="lead">{{discussion.title}} -alueen keskustelut</p>
    </div>
</div>

<hr class="my-4">


<div class="title-row row">
    <div class="col-7 col-sm-8 col-md-9">
        <h4>Nimi</h4>
    </div>
    <div class="col-2 col-sm-2 col-md-1">
        <h6>Viestejä</h6>
    </div>
    <div class="col-3 col-sm-2 col-md-2">
        <h6>Viimeisin</h6>
    </div>

</div>

<div class="card">
    <ul class="list-group list-group-flush list-group-striped list-group-hover">
        {% for topic in topics %}
        <li class="list-group-item list-group-item-container row">
            <div class="col-7 col-sm-8 col-md-9">
                <h5 class="list-group-item-title"><a href="{{base_path}}/discussion/{{discussion.id}}/topic/{{topic.id}}">{{topic.title}}</a></h5>
                <small class="text-muted">{{topic.getFirst().content|slice(0, 32)}}...</small>
            </div>
            <div class="col-2 col-sm-2 col-md-1">{{topic.getPostCount()}}</div>
            <div class="col-3 col-sm-2 col-md-2">
                <h6 class="list-group-item-poster"><a href="#">{{topic.getLast().getPoster().username|default('Ei
                    yhtään viestiä vielä')}}</a></h6>
                <small class="text-muted">{{topic.getLast().posted}}</small>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
<button type="button" id="add-btn" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">Luo keskustelu
</button>


<div class="modal" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Luo keskustelu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{base_path}}/discussion/{{discussion.id}}">
                    <div class="form-group">
                        <label for="input-name">Keskustelun nimi</label>
                        <input class="form-control" id="input-name" type="text" name="name"
                               placeholder="Anna keskustelulle nimi" required/>
                    </div>
                    <div class="form-group">
                        <label for="input-message">Aloitusviesti</label>
                        <textarea class="form-control" id="input-message" rows="5" name="message"
                                  placeholder="Anna aloitusviesti" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="input-tags">Tägit</label>
                        <input class="form-control" id="input-tags" type="text" name="tags" placeholder="Syötä tägejä"
                               data-role="tagsinput"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Lisää</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Peruuta</button>
                </form>

            </div>

        </div>
    </div>
</div>

{% endblock %}