{% extends "base.html" %}

{% block content %}
<div class="jumbotron" id="title-jumbotron">
    <div class="mx-auto">
        <h1 class="display-4">Käyttäjänimi</h1>
        <p class="lead text-muted">
            <em>Tähän tulee käyttäjän henkilökohtainen fiilisviesti</em>
        </p>
    </div>
</div>
<hr class="my-4">
<form class="user-info">
    <div class="form-group row">
        <label class="col-5 col-sm-4 col-md-2 col-form-label"
               for="input-username"><strong>Käyttäjätunnus:</strong></label>
        <div class="col-7 col-sm-8 col-md-10">
            <input class="form-control" id="input-username" type="text" name="username" value="käyttäjätunnus"
                   placeholder="Käyttäjätunnus"
                   required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-5 col-sm-4 col-md-2 col-form-label" for="input-status"><strong>Fiilisviesti:</strong></label>
        <div class="col-7 col-sm-8 col-md-10">
            <input class="form-control" id="input-status" type="text" name="status"
                   value="tässä on minun fiilisviestini" placeholder="Fiilisviesti"
                   required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-5 col-sm-4 col-md-2 col-form-label" for="input-email"><strong>Sähköposti:</strong></label>
        <div class="col-7 col-sm-8 col-md-10">
            <input class="form-control" id="input-email" type="email" name="username" value="email.email@email.com"
                   placeholder="Sähköposti"
                   required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-5 col-sm-4 col-md-2 col-form-label" for="input-firstname"><strong>Etunimi:</strong></label>
        <div class="col-7 col-sm-8 col-md-10">
            <input class="form-control" id="input-firstname" type="text" name="firstname" value="etunimi"
                   placeholder="Etunimi" required/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-5 col-sm-4 col-md-2 col-form-label" for="input-lastname"><strong>Sukunimi:</strong></label>
        <div class="col-7 col-sm-8 col-md-10">
            <input class="form-control" id="input-lastname" type="text" name="lastname" value="sukunimi"
                   placeholder="Sukunimi" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-7 col-sm-8 col-md-10 offset-5 offset-sm-4 offset-md-2">
            <button type="submit" class="btn btn-primary">Tallenna</button>
            <button type="button" class="btn btn-secondary">Peruuta</button>
        </div>
    </div>
</form>
{% endblock %}