{% extends "base.html" %}

{% block content %}

<div class="jumbotron" id="title-jumbotron">
    <div class="mx-auto">
        <h1 class="display-4">{{account.username}}</h1>
        <p class="lead text-muted">
            <em>{{account.status}}</em>
        </p>
    </div>
</div>
<hr class="my-4">
<ul class="list-group user-info">
    <li class="list-group-item">
        <strong class="mr-1">Etunimi:</strong>
        <span>{{account.firstname}}</span>
    </li>
    <li class="list-group-item">
        <strong class="mr-1">Sukunimi:</strong>
        <span>{{account.lastname}}</span>
    </li>
    <li class="list-group-item">
        <strong class="mr-1">Sähköposti:</strong>
        <span>{{account.email}}</span>
    </li>
    <li class="list-group-item">
        <strong class="mr-1">Viestejä:</strong>
        <span>{{account.getPostCount()}}</span>
    </li>
</ul>
<form method="post"
      style="display: inline-block"
      action="{{base_path}}/account/{{account.id}}/edit">
    <button type="submit" class="btn btn-info">Muokkaa</button>
</form>
<form method="post"
      class="destroy-form"
      data-confirm="Oletko täysin varma, että haluat poistaa käyttäjäsi, sekä kaikki sillä lähetetyt viestit?"
      style="display: inline-block"
      action="{{base_path}}/account/{{account.id}}/destroy">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
{% endblock %}