{% extends "base.html" %}

{% block content %}
<div class="jumbotron" id="title-jumbotron">
    <div class="mx-auto">
        <h1 class="display-4">{{topic.title}}</h1>
        <p class="lead">
            <span class="tag h6 my-1 badge badge-pill badge-primary">Tags</span>
            <span class="tag h6 my-1 badge badge-pill badge-primary">Tags</span>
            <span class="tag h6 my-1 badge badge-pill badge-primary">Tags</span>
            <span class="tag h6 my-1 badge badge-pill badge-primary">Tags</span>
        </p>
    </div>
</div>
<hr class="my-4">
{% for post in posts %}
<div class="card post">
    <div class="card-header clearfix">
        <h5 class="float-left post-poster"><a href="#">{{post.account_id}}</a></h5>
        <span class="float-right">{{post.posted}}</span>
    </div>
    <div class="card-block">
        <p class="card-text">{{post.content}}</p>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-info btn-sm">Muokkaa</button>
        <button type="button" class="btn btn-danger btn-sm">Poista</button>
    </div>
</div>
{% endfor %}
<hr class="my-4">

<div class="card card-outline-info">
    <h3 class="card-header card-info text-white">Vastaa</h3>
    <div class="card-block">
        <form>
            <div class="form-group">
                <label for="input-message">Viesti</label>
                <textarea class="form-control" id="input-message" rows="5" name="messgae"
                          placeholder="Kirjoita vastauksesi" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Lähetä</button>
        </form>
    </div>
</div>
{% endblock %}